<template name="teamsRegister">
    <div class="row">
        <div class="register-pane col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
            {{>paneLogo}}
            <form class="row register form">
                <div class="form-group">
                    <div class="help-text">Please register / choose your team</div>
                </div>
                <div class="form-group">
                    <input type="text" name="name"
                           placeholder="Team name"
                           class="name form-control"/>
                </div>
                <div class="form-group">
                    <button type="submit" class=" form-control register btn btn-primary">
                        <span class="span fa fa-check"></span>
                        Register
                    </button>
                </div>
                <hr/>
                <a href="{{pathFor 'teamsJoin'}}" class=" form-control join-team btn btn-success">
                    Join a team
                </a>
            </form>
        </div>
    </div>
</template>
