<template name="teamsChooser">
    <div class="row">
        <div class="chooser col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
            <div class="choice col-xs-12 col-sm-6">
                <a href="{{pathFor 'teamsRegister'}}" class="register btn btn-primary">
                    Register a team
                </a>
            </div>
            <div class="choice col-xs-12 col-sm-6">
                <a href="{{pathFor 'teamsJoin'}}" class="btn btn-success">
                    Join a team
                </a>
            </div>
        </div>
    </div>
</template>


<template name="teamsRegister">
    <form class="register form">
        <input type="text" placeholder="Team name"
               class="team-name form-control"/>
        <button class="register btn btn-primary">
            <span class="span fa fa-check"></span>
            Register
        </button>
    </form>
</template>

<template name="teamsJoin">

</template>