<template name="home">
    {{>menu}}
    <div class="mood" style="background-image: url({{team.image}});">
        <div class="container-virtual">
            <div class="team-name">
                @{{team.name}}
            </div>
            <div class="value-wrapper">
                <div class="value">{{team.value}}</div>
            </div>
        </div>
    </div>
    <div class="container-virtual">
        {{#with team}}
            <div class="section team">
                {{> teamMembers}}
            </div>
            {{> projectEditor}}
        {{/with}}
    </div>
    {{! >schedule}}
</template>

<template name="teamMembers">
    <div class="team-members">
        <div class="title">Members</div>
        {{# each teamMembers }}
            <div class="team-member col-xs-10 col-sm-4 col-md-3">
                {{>user}}
            </div>
        {{/ each}}
    </div>
</template>
