.mood {
  margin-left: -@grid-gutter-width/2;
  margin-right: -@grid-gutter-width/2;
  min-height: 40vh;
  background-position: bottom;
  background-size: cover;
  position: relative;
  &:after {
    display: block;
    content: '';
    .position();
    #gradient.vertical(fade(@gray, 0%), fade(black, 80%));
    @shadow: inset 0px -2px 3px fade(black, 100%);
    .box-shadow(@shadow);
    z-index: 1;
  }
  .container-virtual {
    .position();
    .team-name {
      .position(auto, auto, @padding-base-vertical, @padding-base-horizontal);
      color: white;
      font-size: 2em;
      font-weight: 100;
      z-index: 2;
    }
  }
  .value-wrapper {
    .position(auto, @padding-base-horizontal, @padding-base-vertical, auto);
    @size: 10em;
    height: @size;
    width: @size;
    border: solid 4px @brand-success;
    z-index: 3;
    color: @brand-success;
    border-radius: 50%;
    text-align: center;
    padding-top: 2em;
    background-color: fade(black, 60%);
    .value {
      font-size: 2.5em;
      .currency {
        color: @brand-primary;
        font-size: .5em;
        font-weight: bold;
      }
      .small {
        font-size: 8px;
      }
    }
    @media (max-width: @screen-sm-max) {
      @size: 6em;
      height: @size;
      width: @size;
      padding-top: 1em;
      .value {
        font-size: 1.8em;
        .small {
          display: none;
        }
      }
    }
  }
  @media (min-width: @screen-sm-max) {
    min-height: 50vh;
    .container-virtual {
      .team-name {
        bottom: 1.5em;
      }
    }

    .value-wrapper {
      bottom: 2em;
    }
  }
}

.team-props-container {
  margin-top: 2em;
}

.section {
  padding-top: @padding-base-vertical;
  padding-bottom: @padding-base-vertical;
  border-bottom: solid 1px @gray-lighter;
  .title {
    text-align: left;
    color: @gray-light;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-top: .5em;
    margin-bottom: .5em;
    &:before {
      content: '';
      display: inline-block;
      height: 1em;
      width: 1em;
      position: relative;
      top: .1em;
      background-color: @brand-success;
      border-radius: 50%;
      margin-right: 1em;
    }
  }
  .section-body {
    padding-left: 2em;
  }
}

.team-members {
  text-align: center;
  .team-member {
    display: inline-block;
    float: none;
  }
}

.tags {
  .tag {
    display: inline-block;
    border-radius: 8px;
    padding: .2em;
    margin: .1em;
    background-color: @gray-lighter;
  }
  .tag-form {
    margin-top: 1em;
  }
}