<template name="home">
    {{>menu}}
    <div class="mood" style="background-image: url({{team.image}});">
        <div class="container-virtual">
            <div class="team-name">
                @{{team.name}}
            </div>
            <div class="value-wrapper">
                <div class="value">{{team.value}}</div>
            </div>
        </div>
    </div>
    <div class="container-virtual">
        {{#with team}}
            <div class="section team">
                {{> teamMembers}}
            </div>
            {{> projectEditor}}
        {{/with}}
    </div>
    {{! >schedule}}
</template>

<template name="projectEditor">
    <div class="section project-summary">
        <div class="title">Project summary</div>
        <div class="summary">
            {{summary}}
        </div>

        <button class="edit btn btn-link">
            <span class="fa fa-edit"></span>
        </button>
    </div>
    <div class="section project-tags">
        <div class="title">Tags</div>
        <div class="tags">
            {{# each tags }}
                <div class="tag">
                    <span class="name">{{this}}</span>

                    <div class="remove-tag btn btn-link">
                        <span class="fa fa-times"></span>
                    </div>
                </div>
            {{/ each}}
        </div>
    </div>
</template>

<template name="teamMembers">
    <div class="team-members">
        <div class="title">Members</div>
        {{# each teamMembers }}
            <div class="team-member col-xs-10 col-sm-4 col-md-3">
                {{>user}}
            </div>
        {{/ each}}
    </div>
</template>
