<template name="home">

    <h2 class="title">
        <span class="user-name">
            {{#if user.services.twitter.profile_image_url }}
                <img src="{{user.services.twitter.profile_image_url }}" alt=""/>
            {{/if}}
        </span>
        <span class="user-name">
            {{user.profile.name}}
        </span>
        @
        <span class="team-name">
            {{team.name}}
        </span>
    </h2>
    {{>schedule}}
</template>

<template name="schedule">
    <div class="row">
        <div class="col-lg-6">
            <li>
                <h2>SATURDAY (26.09.2015)</h2>

                <p>Breakfast</p>

                <p>10:00 - 11:00</p>

                <p>Welcome Speech</p>

                <p>11:00 - 11:30</p>

                <p>Team Building</p>

                <p>11:30 - 12:00</p>

                <p>Lunch</p>

                <p>12:00-14:00</p>

                <p>Hacking</p>

                <p>12:00 - 19:00</p>

                <p>Workshop PAYBACK</p>

                <p>13:00 - 14:00</p>

                <p>Workshop p2pkit</p>

                <p>14:00 - 15:00</p>

                <p>Workshop Google</p>

                <p>15:00 - 16:00</p>

                <p>Workshop Dropbox</p>

                <p>16:00 - 17:00</p>

                <p>Workshop Clarifai</p>

                <p>17:00 - 18:00</p>

                <p>Workshop Stylight / Docker</p>

                <p>18:00 - 19:00</p>

                <p>Dinner</p>

                <p>19:00 - 20:00</p>

                <p>Hacking</p>

                <p>20:00 - 24:00</p>

                <p>Midnight Surprise</p>

                <p>24:00
                </p></li>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <li>
                    <h2>SUNDAY (27.09.2015)</h2>

                    <p>Hacking</p>

                    <p>00:30 - 7:00</p>

                    <p>Breakfast</p>

                    <p>7:00 - 9:00</p>

                    <p>Hacking</p>

                    <p>9:00 - 11:00</p>

                    <p>Pitching (Groups)</p>

                    <p>11:00 - 13:00</p>

                    <p>Pitching (Final / Jury Decision)</p>

                    <p>13:00 - 14:30</p>

                    <p>Award Ceremony</p>

                    <p>14:30 - 15:00</p>
                </li>
            </div>


        </div>
    </div>
</template>