<template name="funding">
    <div class="menu funding top-bar">
        <div class="container-virtual">
            <a href="" class="trigger btn btn-link">
                &nbsp;
            </a>

            <div class="menu-title">
                <span class="fa fa-bolt"></span>
                Live funding
                <span class="fa fa-bolt"></span>
            </div>
        </div>
    </div>
    {{> team}}
</template>


<template name="fundRaiser">
    {{#if isEnabled}}
        <div class="fund-raiser">
            <div class="container-virtual">
                <div class="promote">
                    Click the bar to specify the ammount of Hacker Coins <span class="currency">}{</span>
                    with which you support the project of team <span class="team">@{{team.name}}</span>
                </div>
                <div class="progress-wrapper">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" style=" width: {{supportPerc}}%;">
                        </div>
                    </div>
                </div>
                <div class="support">
                    <div class="support-value">
                        <a href="#" class="minus btn btn-primary">
                            <span class="fa fa-angle-left"></span>
                        </a>
                        {{supportValue}}
                        <span class="currency">}{</span>
                        <a href="#" class="plus increase btn btn-primary">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </div>

                    <div class="suport-string">
                        {{supportString}}
                    </div>
                </div>

            </div>
        </div>
    {{/if}}
</template>