.menu.funding.top-bar {
  background-color: @brand-success;
}

.fund-raiser {
  background-color: @brand-success;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
  margin-left: -@grid-gutter-width/2;
  margin-right: -@grid-gutter-width/2;
  .promote {
    font-size: 1.6em;
    text-align: center;
  }
  .currency {
    color: @brand-primary;
  }

  .support {
    text-align: center;
    font-size: 1.8em;
    .support-value {
      font-weight: bold;
    }
  }
}
