<template name="browser">
    {{> menu }}
    <div class="row searchbar-wrapper">
        <div class="searchbar col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="fa fa-search"></span>
                    </div>
                    <input type="text"
                           class="search form-control"
                           placeholder="Search for teamname or tag"/>
                </div>
            </div>
        </div>
    </div>
    <div class="browser row">
        <div class="container-virtual">
            {{# each teams }}
                <div class="team  col-xs-10 col-sm-4 col-md-3">
                    <div class="team-image" style="background-image: url({{image}});"></div>
                    <div class="team-name">{{name}}</div>
                    <div class="team-value">{{funds}}<span class="currency">}{</span></div>
                </div>
            {{/ each}}
        </div>
    </div>
</template>