<template name="admin">
    <div class="row teams-admin">
        <div class="teams col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 {{fundingStarted}}">
            {{>paneLogo}}
            <div class="title">Choose pitching team</div>
            {{# each teams }}
                <div class="team {{selected}}">
                    {{name}}
                    <div class="start-funding btn btn-success">
                        Fund
                    </div>
                    <div class="stop-funding btn btn-danger">
                        Stop
                    </div>
                </div>
            {{/ each}}

            <div class="reset-funds btn btn-link">Reset funds</div>
        </div>
    </div>
</template>